body {
    height : 100vh;
    background-color: #222;
    display : flex;
    justify-content: center;
    align-items: center;
    
}

.imga {
    width : 800px;;
    height: 400px;
    background : url("img-1.jpg"); 
    animation : animationPict 5s infinite;
    background-size: cover;
    position: relative;
}

@keyframes animationPict{
    0% {
        background: url("img-1.jpg");
    }
    25% {
        background: url("img-2.jpg");
    }
    50% {
        background: url("img-3.jpg");
    }
    75% {
        background: url("img-4.jpg");
    }
    100% {
        background: url("img-1.jpg");
    }
}