body {
    margin : 0;
    height : 100vh;
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}

h2 {
    position : relative;
    margin : 0;
    padding : 0;
    font-size : 120px;
    color : #ccc;
    text-transform: uppercase;
}

h2:before {
    content : "TEXT";
    position : absolute;
    top: 0;
    left : 0;
    width: 0%;
    color : black;
    overflow: hidden;
    transition : 0.5s;
}


h2:hover:before 
{
    width: 100%;
}
