body {
    margin : 0;
    display : flex;
    align-items : center;
    justify-content: center;
    height: 100vh;
    font-family: sans-serif;
    background: grey;
}

a {
    padding : 20px 40px;
    text-decoration: none;
    font-size: 30px;
    letter-spacing: 4px;
    text-transform: uppercase;
    border : 3px solid #ff0;
    color : transparent;
    transition : all 0.5s;
    position : relative;
}

a:before {
    content : "Hover me";
    top :0 ; 
    left : 0 ;
    width: 100%;
    height: 100%;
    position : absolute;
    background-color: #363636;
    color : #ff0;
    display : flex;
    justify-content: center;
    align-items: center;
    transition : all 1s;
}

a:hover:before {
    left : 100%;
    transform : scale(0) rotateY(360deg);
    opacity : 0;
}

a:after {
    content : "Hover Me";
    top : 0;
    left : -100%;
    width : 100%;
    height: 100%;
    position: absolute;
    background-color: #363636;
    color : #ff0;
    display: flex;
    justify-content: center;
    align-items: center;
    transform : scale(0) rotateY(0deg);
    opacity: 0;
    transition : all 1s;
}

a:hover:after {
    left : 0;
    transform : scale(1) rotateY(360deg);
    opacity: 1;
}
a:hover {
    transform : scale(.95);
    color : #363636;
    background-color: #ff0;
}